@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shortened {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.shortened:hover {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: 0;
    -webkit-line-clamp: 0;
}